@page "/gamepage2"

<PageTitle>Blazor Game 2 Proof-of-Concept</PageTitle>

<h1>Game 2</h1>

<p>Demonstration of a game (i.e. an event driven application) running through Blazor.</p>

<link href="css/game2styles.css" rel="stylesheet" />