@page "/gamepage3"

<PageTitle>Blazor Game 3 Proof-of-Concept</PageTitle>

<h1> Game 3 - RogueLike Dungeon </h1>

<p> Basic RogueLike game - created using just JS and CSS. Click the button below. </p>

<link href="css/game3styles.css" rel="stylesheet" />

<button onclick='createLevel(game_data["lvl"]);'>Create Level</button>
<div id="game3main"></div>