@page "/gamepage3"

<PageTitle>Blazor Game 3 Proof-of-Concept</PageTitle>

<h1>Game 3</h1>

<p>Demonstration of a game (i.e. an event driven application) running through Blazor.</p>

<link href="css/game3styles.css" rel="stylesheet" />

<button onclick='createLevel(game_data["lvl"]);'>Load Level</button>
<div id="game3main"></div>